
.metadata/.plugins/org.eclipse.core.resources/.history/fa/a06b63408eb400131688cced46461d17

.metadata/.plugins/org.eclipse.core.resources/.history/fd/6028816983bf00131688cced46461d17

*.index

.metadata/.plugins/org.eclipse.core.resources/.snap

*.prefs

*.index

*.index

*.index
