
table, td, 	th {
	border: solid 1px silver;
	color:#666;
	padding:5px;
	font-size:14pt;
/* 	padding-left:100px; */
}

table {
	border-collapse:collapse;
}

table tr {
	background-color:#eee;
}
		
table td, table th{
	border:1px solid #fff;
}